@styleTitle 'Trade Route Directions';
@styleAbstract '';

[@sd < 3M] {

  stroke: [recode(Mode,
    'Trucking', '#7b3294',
    'Truck/Trek', '#008837',
    'Truck/trek', '#008837',
    'truck/trek', '#008837',
    'Truck/trekk', '#008837',
    'Truck/Trekk', '#008837',
    'Truck', '#c2a5cf',
    'truck', '#c2a5cf',
    'Trek', '#a6dba0'
  )];
  stroke-width: 2;
  stroke-dasharray: 1 2;
  mark-geometry: [startPoint(the_geom)],
    [endPoint(the_geom)];
  mark: symbol('shape://carrow'), symbol('shape://carrow');
  mark-rotation: [startAngle(the_geom) + 180],
    [endAngle(the_geom)];
  :mark {
    fill: #333;
  };

  [@sd < 2M] {
    label: [Route];
    label-follow-line: true;
    label-offset: 8;
    font-family: 'Noto Sans';
    font-size: 8;
    font-fill: [recode(Mode,
      'Trucking', '#7b3294',
      'Truck/Trek', '#008837',
      'Truck/trek', '#008837',
      'truck/trek', '#008837',
      'Truck/trekk', '#008837',
      'Truck/Trekk', '#008837',
      'Truck', '#c2a5cf',
      'truck', '#c2a5cf',
      'Trek', '#a6dba0'
    )];
    halo-color: #ffffff;
    halo-radius: 1;
    halo-opacity: 0.7;
  };
}
